<div id="home">
	<dash-header></dash-header>
	<div class="container-fluid" id="body">
		<div class="container">
			<main>
				<div class="avatar profilePic col-md-4 col-md-offset-1" ng-if="!mobile">
					<img ng-src="{{user.profileImg}}" alt="">
				</div>
				<div class="col-md-5 col-md-offset-1" ng-controller="faceCtrl">
          <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
          </div>
				</div>
			</main>
		</div>
	</div>
</div>
