<div id="home">
	<dash-header></dash-header>
	<div class="container-fluid" id="body">
		<div class="container">
			<main>
				<div class="col-md-8 col-md-offset-2" ng-controller="addPostCtrl">
					<a href="#/posts/" class="voltar">Voltar</a>
					<div class="card col-md-12">
						<div class="post col-md-10">
							<form class="form">
								<label for="title">Título do post</label>
								<input type="text" name="title" ng-model="models.title">

								<div>
									<input type="radio" ng-model="models.published" name="published" value="Publicado"> Publicado
									<input type="radio" ng-model="models.published" name="published" value="Rascunho"> Rascunho
								</div>

								<label for="title">Conteúdo do post</label>
								<textarea name="post-content" ng-model="models.content"></textarea>

								<button class="btn cta" ng-click="submit()">ENVIAR</button>
							</form>
						</div>
						<div class="editElements col-md-2">
							<i class="fa fa-times"></i>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>