<div id="home">
	<dash-header></dash-header>
	<section class="container-fluid" id="body" >
		<div class="container">
			<main>
				<div class="col-md-8 col-md-offset-2" ng-controller="listPostsCtrl as postsList">
					<a href="#/" class="voltar">Voltar</a>
					<button class="btn cta pull-right" ng-click="postsList.add()">Novo Post</button>
					<h3 ng-if="error" style="margin-top: 50px">{{postsList.error}}</h3>

					<small-card title="post.title"
								sub="post.content | cut: true: 100"
								page="posts"
								ng-repeat="post in postsList.posts | orderBy: 'pubDate': true | limitTo: 10">
					</small-card>
				</div>
			</main>
		</div>
	</section>
</div>