<div class="container-fluid" id="header">
	<header>
		<div class="col-md-3">
			<!-- class logo on this div <img src="img/logo.png" alt=""> -->
			<a href="http://localhost:8181" target="_blank"><h1>Guilherme Luchesi</h1></a>
		</div>
		<div class="login col-md-3 col-md-offset-6">
			<ul class="nav nav-pills">
				<li class="profilePic ">
					<img ng-src="{{user.profileImg}}" alt="">
				</li>
				<li class="">
					<a href="http://localhost:8181/" target="_blank">Acessar o site</a>
				</li>
				<li class="">
					<a href="#/" ng-click="logout()">Logout</a>
				</li>
			</ul>
		</div>
	</header>
</div>